title {
  border: 1px solid red;
  margin: 20px;
}
div.div_hello {
  font-family:'sans-serif';
  font-size: 16px
  font-weight:400;
  text-align: senter;
  color: #007bff;
}
div#div_world {
  background-color: rgba(0,0,0,0.05)
}
