.wrapper {
  display: flex;
  flex-direction: column;  
  align-items: center;      
  justify-content: flex-start; 
  min-height: 30vh;        
  padding-top: 50px;        
}

h1 {
  display: inline-block; 
  border-bottom:3px double black;;   
  padding: 0;
  padding-bottom: 10px;
  margin: 0 0 20px 0;    
  line-height: 1;
}

div.div_hello {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;  
  color: #007bff;
  display: inline-block; 
}

div#div_world {
  display: inline-block; 
  background-color: rgba(0,0,0,0.05);
  padding: 2px 6px;     
}


.container {
  display:inline-block; width: fit-content; margin:0 auto;       
  gap: 20px;
  
}

#round {
display:inline-block; width:200px; height:200px; border:1px solid black;
  border-radius: 100px; background-color:black;


display:inline-block; width:200px; height:200px; border:1px solid black;
  border-radius: 100px; background-color:green;
}
