h1 {
  display: inline-block; 
  border: 1px solid red;   
  padding: 15px;        
  margin: 0 0 20px 0;    
  line-height: 1;
}

div.div_hello {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;  
  color: #007bff;
  display: inline-block; 
}

div#div_world {
  display: inline-block; 
  background-color: rgba(0,0,0,0.05);
  padding: 2px 6px;     
}


.container {
  display: flex;       
  gap: 20px;          
}
