
  /*2월 달력 휴일 표시 밑 꾸미기*/
  body{
   font-family: Arial, sans-serif;
   test-align: center;
 }
   h2{
     margin-button: 10px;
   }
  .calendar{
    border-collapse: collapse;
    margin: 0 auto;
    width: 400px;
  }
   .caledar th,
   .caledar td{
     border: 1px solid #ccc;
     width: 14.2%;
     height:60px;
     text-align:middle;
   }

   .calendar th{
     background-color:#f2f2f2;
     font-weight:bold;
   }
   .sun{
     color:red;
   }
   .holiday {
     color:red;
     font-weight:bold;
     background-color:#ffecec;
   }

