h1 {
  display: inline-block; 
  border: 1px solid red;   
  padding: 0 2px;         
  margin: 0;               
  line-height: 1;
  margin-bottom: 100px;
  padding: 10px;
}
div.div_hello {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;  
  color: #007bff;
}

div#div_world {
  display: inline-block; 
  background-color: rgba(0,0,0,0.05);
  padding: 2px 6px;     
}
.container {
  display: flex;
  white-space: nowrap;
  padding: 15px;
  gap: 20px;
}
